*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*Landing Section */
.intro {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.intro h1 {
    font-size: 5rem;
}
.intro p {
    font-size: 32px;
}
#Landing {
    width: 100%;
  height: 100vh;
  background:
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(17, 17, 17, 0.45),
      transparent
    ),
    /* bottom, image */ url(./Images/josh-rose-trYl7JYATH0-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.wrapper {
   position: absolute;
   top: 60%;
   left: 50%;
   perspective: 1500px;

}
.box-area {
    position: relative;
    transform-style: preserve-3d;
    animation: animate 10s infinite;
    animation-play-state: running;
}
.wrapper .box-area:hover {
    color: black;
    cursor: pointer;
    animation-play-state: paused;
}
.box:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    
}

.box a:hover {
    color: black;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.box a {
    text-decoration: none;
    color: black;
}
/* Animations */
@keyframes animate {
    0% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
        transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    100% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
}

.box {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
/* box-Items */
.box-front {
    transform: translateX(-200px) translateY(-200px) translateZ(200px);
    background: lightslategray;
}
.box-back {
    transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    background: lightslategray;
}
.box-right {
    transform: translateY(-200px) rotateY(90deg);
    background: darkgrey;
}
.box-left {
    transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    background: darkgrey;
}
.box-bottom {
    transform: translateX(-200px) rotateX(90deg);
    background: #2c2c2c;
}
.box-top {
    transform: translateX(-200px) translateY(-400px) rotateX(90deg);
    background: #2c2c2c;
}

/* NavBar */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
}



